body {
}

h1 {
  color: #260A03;
  font-size: 400%;
  text-align: center;
  text-decoration: overline;
}
body {
  background-color: #D7EBBA;
}
nav {
  list-style-type: none;
  position: fixed;
  background-color: #1E2F0F;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 1%;
  color: #D7EBBA;
}
li {
  display: inline;
  padding: 3.5%;
}
a {
  text-decoration: none;
  color: #D7EBBA;
}
a:hover {
  color: #D59385;
}
