body {
}

h1 {
  color: #260A03;
  font-size: 400%;
  text-align: center;
  text-decoration: overline;
  text-shadow: 1px 1px 40px #1E2F0F, 0 0 20px #D7EBBA, 0 0 10px #D7EBBA;
}
body {
  background-color: #D59385;
}
nav {
  list-style-type: none;
  position: fixed;
  background-color: #1E2F0F;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 2%;
  color: #D7EBBA;
}
li {
  display: inline;
  padding: 3%;
}
a {
  font-size: 115%;
  text-decoration: none;
  color: #D7EBBA;
}
a:hover {
  color: #D59385;
}
